<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsNosFy13EN_6O3_kQLcm99QfUaUpVIf4</string>
	<key>GCM_SENDER_ID</key>
	<string>596344722417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.officialgrocery</string>
	<key>PROJECT_ID</key>
	<string>hbappsgrocery</string>
	<key>STORAGE_BUCKET</key>
	<string>hbappsgrocery.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:596344722417:ios:9b13816e822ebed4386a50</string>
</dict>
</plist>
