<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAolDBW1jfXcgzYC6dM9v3CA29ucy1m5j8</string>
	<key>GCM_SENDER_ID</key>
	<string>814575294638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.officialgrocery</string>
	<key>PROJECT_ID</key>
	<string>hybriidgrocery</string>
	<key>STORAGE_BUCKET</key>
	<string>hybriidgrocery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814575294638:ios:d7486adcd9793cb27cf53f</string>
</dict>
</plist>